*{
  margin: 0;

}

body {
  background-color: black;
  padding: 20px;
}

.App{
  display: flex;
  justify-content: space-evenly;
}

.app-left {
  flex: 0.9;
}


.app-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #fc3c3c;
}

.app-headerLeft{
  display: flex;
  align-items: center;

}
.app-headerLeft img {
  width: 70px;
  height: 100%;
  margin-right: 20px;
}

.app-stat{
  display: flex;
  justify-content: space-between;
}

.app-dropdown {
  background-color: white;
  border-radius: 5px;
}

.table-title{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width : 990px) {
  .App {
    flex-direction: column;
  }
}